<!DOCTYPE html>
<html>

<head>
  <title>Car Dealership</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>

<body>
  <h1>Used Cars R Us</h1>
  <form action="/CarList" method="post">
    <label for="budget">Budget:</label>
    <input id="budget" name="budget" type="number">
    <button type="submit">See Cars</button>
  </form>
</body>

</html>
